<html>
    <head profile="http://www.w3.org/2005/10/profile">
      <title></title>
				<%= javascript_include_tag "/javascripts/swfobject/swfobject" %>
			</head>
			<body>

				<div>
				  <script type="text/javascript">
  					swfobject.embedSWF('site/Neuralize.swf?'+Math.random(), 'website', '100%', '100%', '10', '/javascripts/swfobject/expressinstall.swf');
  				</script>
				</div>
				<div>
					<div id="website">
						<p align="center">Para visualizar essa página você precisa do flash player 10 ou superior. Clique no botão abaixo para fazer o download.</p>
						<p align="center">
	          <a href="http://www.adobe.com/go/getflashplayer">
	              <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
	          </a>
						</p>
	      </div>
			</div>
	</body>
</html>

